# eICU Collaborative Research Database

# Notebook 2: Demographics and severity of illness in a single patient

The aim of this notebook is to introduce high level admission details relating to a single patient stay, using the following tables:

- `patient`
- `admissiondx`
- `apacheapsvar`
- `apachepredvar`
- `apachepatientresult`

Before starting, you will need to copy the eicu demo database file ('eicu_demo.sqlite3') to the `data` directory.

Documentation on the eICU Collaborative Research Database can be found at: http://eicu-crd.mit.edu/.

## 1. Getting set up

In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import os

In [2]:
# Plot settings
%matplotlib inline
plt.style.use('ggplot')
fontsize = 20 # size for x and y ticks
plt.rcParams['legend.fontsize'] = fontsize
plt.rcParams.update({'font.size': fontsize})

In [3]:
# Connect to the database
fn = os.path.join('data','eicu_demo.sqlite3')
con = sqlite3.connect(fn)
cur = con.cursor()

## 2. Display a list of tables

In [4]:
query = \
"""
SELECT type, name
FROM sqlite_master 
WHERE type='table'
ORDER BY name;
"""

list_of_tables = pd.read_sql_query(query,con)

In [5]:
list_of_tables

     type                       name
0   table              admissiondrug
1   table                admissiondx
2   table               apacheapsvar
3   table        apachepatientresult
4   table              apachepredvar
5   table       careplancareprovider
6   table                careplaneol
7   table            careplangeneral
8   table               careplangoal
9   table  careplaninfectiousdisease
10  table                  diagnosis
11  table               infusiondrug
12  table                        lab
13  table                 medication
14  table                pasthistory
15  table                    patient
16  table                  treatment
17  table             vitalaperiodic
18  table              vitalperiodic

## 3. Selecting a single patient stay

### 3.1. The `patient` table

The `patient` table includes general information about the patient admissions (for example, demographics, admission and discharge details). See: http://eicu-crd.mit.edu/eicutables/patient/

### Questions

Use your knowledge from the previous notebook and the online documentation (http://eicu-crd.mit.edu/) to answer the following questions:

- Which column in the `patient` table is distinct for each stay in the ICU (similar to `icustay_id` in MIMIC-III)?
- Which column is unique for each patient (similar to `subject_id` in MIMIC-III)?

In [7]:
# select a single ICU stay
patientunitstayid = 141296

In [8]:
# query to load data from the patient table
query = \
"""
SELECT *
FROM patient
WHERE patientunitstayid = {}
""".format(patientunitstayid)

print(query)

SELECT *
FROM patient
WHERE patientunitstayid = 141296

In [11]:
# run the query and assign the output to a variable
patient = pd.read_sql_query(query,con)
patient.head().T

                                                                           0
patientunitstayid                                                     141296
patienthealthsystemstayid                                             129026
gender                                                                  Male
age                                                                       63
ethnicity                                                          Caucasian
hospitalid                                                                73
wardid                                                                    85
apacheadmissiondx          Hypovolemia (including dehydration, Do not inc...
admissionheight                                                        162.6
hospitaladmityear                                                       2014
hospitaladmittime24                                                 04:18:00
hospitaladmittime                                                    morning
hospitaladmitoffset                                                    -2254
hospitaladmitsource                                                    Floor
hospitaldischargeyear                                                   2014
hospitaldischargetime24                                             03:41:00
hospitaldischargetime                                                morning
hospitaldischargeoffset                                                 7789
hospitaldischargelocation                                              Death
hospitaldischargestatus                                              Expired
unittype                                                                SICU
unitadmityear                                                           2014
unitadmittime24                                                     17:52:00
unitadmittime                                                        evening
unitadmitsource                                                        Floor
unitvisitnumber                                                            1
unitstaytype                                                           admit
admissionweight                                                         None
dischargeweight                                                         76.8
unitdischargeyear                                                       2014
unitdischargetime24                                                 17:00:00
unitdischargetime                                                    evening
unitdischargeoffset                                                     2828
unitdischargelocation                                                  Floor
unitdischargestatus                                                    Alive
uniquepid                                                          002-30269

In [12]:
# display a complete list of columns
patient.columns

Index([u'patientunitstayid', u'patienthealthsystemstayid', u'gender', u'age',
       u'ethnicity', u'hospitalid', u'wardid', u'apacheadmissiondx',
       u'admissionheight', u'hospitaladmityear', u'hospitaladmittime24',
       u'hospitaladmittime', u'hospitaladmitoffset', u'hospitaladmitsource',
       u'hospitaldischargeyear', u'hospitaldischargetime24',
       u'hospitaldischargetime', u'hospitaldischargeoffset',
       u'hospitaldischargelocation', u'hospitaldischargestatus', u'unittype',
       u'unitadmityear', u'unitadmittime24', u'unitadmittime',
       u'unitadmitsource', u'unitvisitnumber', u'unitstaytype',
       u'admissionweight', u'dischargeweight', u'unitdischargeyear',
       u'unitdischargetime24', u'unitdischargetime', u'unitdischargeoffset',
       u'unitdischargelocation', u'unitdischargestatus', u'uniquepid'],
      dtype='object')

In [13]:
# select a limited number of columns to view
columns = ['uniquepid','patientunitstayid','gender','age','unitdischargestatus']
patient[columns]

   uniquepid  patientunitstayid gender age unitdischargestatus
0  002-30269             141296   Male  63               Alive

### Questions

- What year was the patient admitted to the ICU? Which year was he or she discharged?
- What was the status of the patient upon discharge from the unit?

### 3.2. The `admissiondx` table

The `admissiondx` table contains the primary diagnosis for admission to the ICU according to the APACHE scoring criteria. For more detail, see: http://eicu-crd.mit.edu/eicutables/admissiondx/

In [14]:
# query to load data from the patient table
query = \
"""
SELECT *
FROM admissiondx
WHERE patientunitstayid = {}
""".format(patientunitstayid)

print(query)

SELECT *
FROM admissiondx
WHERE patientunitstayid = 141296

In [17]:
# run the query and assign the output to a variable
admissiondx = pd.read_sql_query(query,con)
admissiondx.head().T

,0,1,2
patientunitstayid,141296,141296,141296
admissiondxid,659124,659125,659123
admitdxenteredyear,2014,2014,2014
admitdxenteredtime24,18:20:38,18:20:38,18:20:38
admitdxenteredtime,night,night,night
admitdxenteredoffset,28,28,28
admitdxpath,admission diagnosis|Non-operative Organ System...,admission diagnosis|All Diagnosis|Non-operativ...,admission diagnosis|Was the patient admitted f...
admitdxname,Cardiovascular,"Hypovolemia (including dehydration, Do not inc...",No
admitdxtext,Cardiovascular,"Hypovolemia (including dehydration, Do not inc...",No

In [16]:
admissiondx.columns

Index([u'patientunitstayid', u'admissiondxid', u'admitdxenteredyear',
       u'admitdxenteredtime24', u'admitdxenteredtime', u'admitdxenteredoffset',
       u'admitdxpath', u'admitdxname', u'admitdxtext'],
      dtype='object')

### Questions

- What was the primary reason for admission?
- How soon after admission to the ICU was the diagnoses recorded in eCareManager?

### 3.3. The `apacheapsvar` table

The `apacheapsvar` table contains the variables used to calculate the Acute Physiology Score (APS) III for patients. APS-III is an established method of summarizing patient severity of illness on admission to the ICU. 

The score is part of the Acute Physiology Age Chronic Health Evaluation (APACHE) system of equations for predicting outcomes for ICU patients. See: http://eicu-crd.mit.edu/eicutables/apacheApsVar/

In [18]:
# query to load data from the patient table
query = \
"""
SELECT *
FROM apacheapsvar
WHERE patientunitstayid = {}
""".format(patientunitstayid)

print(query)

SELECT *
FROM apacheapsvar
WHERE patientunitstayid = 141296

In [20]:
# run the query and assign the output to a variable
apacheapsvar = pd.read_sql_query(query,con)
apacheapsvar.head().T

                           0
patientunitstayid  141296.00
apacheapsvarid      22095.00
intubated               0.00
vent                    0.00
dialysis                1.00
eyes                    4.00
motor                   6.00
verbal                  5.00
meds                    0.00
urine                  -1.00
wbc                    13.20
temperature            36.70
respiratoryrate        59.00
sodium                137.00
heartrate             136.00
meanbp                125.00
ph                      7.54
hematocrit             29.00
creatinine              4.33
albumin                 1.90
pao2                   54.00
pco2                   32.00
bun                    35.00
glucose               101.00
bilirubin               0.50
fio2                   21.00

In [ ]:
apacheapsvar.columns

### Questions

- What was the 'worst' heart rate recorded for the patient during the scoring period?
- Was the patient oriented and able to converse normally on the day of admission? (hint: the `verbal` element refers to the Glasgow Coma Scale).

### 3.4. The `apachepredvar` table

The `apachepredvar` table provides variables underlying the APACHE predictions. Acute Physiology Age Chronic Health Evaluation (APACHE) consists of a groups of equations used for predicting outcomes in critically ill patients. See: http://eicu-crd.mit.edu/eicutables/apachePredVar/

In [21]:
# query to load data from the patient table
query = \
"""
SELECT *
FROM apachepredvar
WHERE patientunitstayid = {}
""".format(patientunitstayid)

print(query)

SELECT *
FROM apachepredvar
WHERE patientunitstayid = 141296

In [24]:
# run the query and assign the output to a variable
apachepredvar = pd.read_sql_query(query,con)
apachepredvar.head().T

                           0
patientunitstayid     141296
apachepredvarid         3980
sicuday                    1
saps3day1                  0
saps3today                 0
saps3yesterday             0
gender                     0
teachtype                  0
region                     3
bedcount                  28
admitsource                4
graftcount                 3
meds                       0
verbal                     5
motor                      6
eyes                       4
age                       63
admitdiagnosis     HYPOVOLEM
thrombolytics              0
diedinhospital             1
aids                       0
hepaticfailure             0
lymphoma                   0
metastaticcancer           0
leukemia                   0
immunosuppression          1
cirrhosis                  0
electivesurgery         None
activetx                   0
readmit                    0
ima                        0
midur                      0
ventday1                   0
oobventday1                0
oobintubday1               0
diabetes                   0
managementsystem           1
var03hspxlos               0
pao2                      54
fio2                      21
ejectfx                   -1
creatinine              4.33
dischargelocation          4
visitnumber                1
amilocation               -1
day1meds                   0
day1verbal                 5
day1motor                  6
day1eyes                   4
day1pao2                  54
day1fio2                  21

In [23]:
apachepredvar.columns

Index([u'patientunitstayid', u'apachepredvarid', u'sicuday', u'saps3day1',
       u'saps3today', u'saps3yesterday', u'gender', u'teachtype', u'region',
       u'bedcount', u'admitsource', u'graftcount', u'meds', u'verbal',
       u'motor', u'eyes', u'age', u'admitdiagnosis', u'thrombolytics',
       u'diedinhospital', u'aids', u'hepaticfailure', u'lymphoma',
       u'metastaticcancer', u'leukemia', u'immunosuppression', u'cirrhosis',
       u'electivesurgery', u'activetx', u'readmit', u'ima', u'midur',
       u'ventday1', u'oobventday1', u'oobintubday1', u'diabetes',
       u'managementsystem', u'var03hspxlos', u'pao2', u'fio2', u'ejectfx',
       u'creatinine', u'dischargelocation', u'visitnumber', u'amilocation',
       u'day1meds', u'day1verbal', u'day1motor', u'day1eyes', u'day1pao2',
       u'day1fio2'],
      dtype='object')

In [ ]:
apachepredvar.ventday1

### Questions

- Was the patient ventilated during (APACHE) day 1 of their stay?
- Did the patient have diabetes?

### 3.5. The `apachepatientresult` table

The `apachepatientresult` table provides predictions made by the APACHE score (versions IV and IVa), including probability of mortality, length of stay, and ventilation days. See: http://eicu-crd.mit.edu/eicutables/apachePatientResult/

In [25]:
# query to load data from the patient table
query = \
"""
SELECT *
FROM apachepatientresult
WHERE patientunitstayid = {}
""".format(patientunitstayid)

print(query)

SELECT *
FROM apachepatientresult
WHERE patientunitstayid = 141296

In [27]:
# run the query and assign the output to a variable
apachepatientresult = pd.read_sql_query(query,con)
apachepatientresult.head().T

,0,1
patientunitstayid,141296,141296
apachepatientresultsid,42514,42513
physicianspeciality,critical care medicine (CCM),critical care medicine (CCM)
physicianinterventioncategory,Unknown,Unknown
acutephysiologyscore,68,68
apachescore,89,89
apacheversion,IVa,IV
predictedicumortality,0.12084500021300711,0.1139538682077893
actualicumortality,ALIVE,ALIVE
predictediculos,4.84375,4.72517
actualiculos,1.9638,1.9638
predictedhospitalmortality,0.25711724536512859,0.22655498624812659
actualhospitalmortality,EXPIRED,EXPIRED
predictedhospitallos,15.115,15.3914
actualhospitallos,6.9743,6.9743
preopmi,0,0
preopcardiaccath,0,0
ptcawithin24h,0,0
unabridgedunitlos,1.9638,1.9638
unabridgedhosplos,6.9743,6.9743
actualventdays,None,None
predventdays,None,None
unabridgedactualventdays,None,None

In [ ]:
apachepatientresult.columns

### Questions

- What versions of the APACHE score are computed?
- How many days during the stay was the patient ventilated?
- How long was the patient predicted to stay in hospital?
- Was this prediction close to the truth?